* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
	webkit-hyphens: auto;
  -ms-hyphens: auto;
	hyphens: auto;
	text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  outline: 0;
}

img {
	display: block;
	width: 100%;
}

.layout {
	padding: 10px;
	width: 100%;
}

.content {
	font-size: 1.3rem;
}

.logo {
	margin: auto;
	margin-bottom: 80px;
	margin-top: 80px;
}

.menu {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  width: 100%;

	margin-bottom: 40px;
}

.menu span {
	color: #E94F36;
}

.menu a:hover {
	color: #E94F36;
}

.menu a,
.menu span {
	padding: 10px 0;
}

p {
	margin-top: 0;
}


@media only screen and (min-width: 800px) {
	.layout {
		display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-pack: distribute;
	  justify-content: space-between;
	}

	.menu {
		position: fixed;

		background: white;
		top: 0; left: 50%; right: 0;
		width: 50%;
		padding-right: 10px;
	}

	.content {
		padding-left: 50%;
		/* width: 50%; */
		padding-top: 120px;
	}

	.logo {
		position: fixed;
		top: 120px;
		margin: 0;
		left: 0; width: 50%;
		padding: 0 30px;
	}

	.logo img {
		margin: auto;
		max-width: 600px;
	}

	p {
		padding-right: 5%;
	}

	.layout {
		padding: 0;
	}
}
