* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

	text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #111;
}

a:hover, a:active, a:focus {
  outline: 0;
}

p {
	-webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p a {
	text-decoration: underline;
}

.event-link {
	margin-top: 2rem;
	text-align: center;
}

img {
	display: block;
	width: 100%;
}

.layout {
	padding: 10px;
	width: 100%;
}

.content {
	font-size: 1.3rem;
}

.logo {
	margin: auto;
	margin-bottom: 80px;
	margin-top: 90px;
}

.menu {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-between;

  position: fixed;
	top: 0; left: 0; right: 0;

	background: white;
  width: 100%;
	margin-bottom: 40px;
}

.menu span {
	color: #E94F36;
}

a:hover {
	color: #E94F36;
}

.menu a,
.menu span {
	padding: 10px;
}

p {
	margin-top: 0;
}

footer {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-between;

	padding: 10px;
}

footer > span,
footer > a {
	width: 100%;
	text-align: center;
	padding: 5px;
}

footer a {
	order: 1;
}

footer span {
	order: 2;
	padding-bottom: 0;
}

.events {
	margin-top: 80px;
	margin-bottom: 80px;
}

.event {
	padding: 1rem;
	border: 1px solid #111;
	margin-bottom: 1rem;
}

.event-title {
	text-align: center;
}

.event-date {
	text-align: center;
	margin-bottom: 2rem;
}

.event p:last-child {
	margin-bottom: 0;
}


@media only screen and (min-width: 800px) {
	.layout {
	  -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
	}

	.menu {
		left: 50%;
		width: 50%;
		padding-right: 10px;
	}

	.menu a,
	.menu span {
		padding: 10px 0;
	}

	.content {
		padding-left: 50%;
		padding-top: 120px;
	}

	footer > span,
	footer > a {
		text-align: center;
		width: auto;
	}

	footer {
		flex-shrink: 0;
	}

	footer a {
		order: 2;
	}

	footer span {
		order: 1;
	}

	.logo {
		position: fixed;
		top: 120px;
		margin: 0;
		left: 0; width: 50%;
		padding: 0 30px;
	}

	.logo img {
		margin: auto;
		max-width: 600px;
	}

	p {
		padding-right: 10px;
	}

	.layout {
		padding: 0;
	}

	.events {
		margin-bottom: 120px;
		padding-right: 10px;
	}

	.event {
		margin-bottom: 1.5rem;
	}
}
